@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
box-sizing: content-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
/*new stuff from here*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 
.left-links, .right-links {
  .left-links, .right links also works - target .left-links AND .right links
  div ul also works - target all "ul"s that are children of "div"s 
  list-style-type: none;
  margin: 0;
  padding: 15px 20px; 
}


  /* 
 li {
  display: inline;
  "gap" does not work here because they are not flex items,
  they're list items.
  padding: .2em; also works to create a gap between these
  list items, but putting "&nbsp;" html entities in between
  each item in the html file also works
}

The above two are unnecessary if you target all the ul elements /facepalm
*/

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px;
  gap: 16px;
}
 

.header, 
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #ffb31a;
}


/*end new stuff*/


img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
