.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  /*Move to center across the cross-axis - vertically in this case*/
  justify-content: center;
  /*Move to center across the main-axis - horizontally left to right in this case*/
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}